# Hi there :wave: :smiley:
%projects%
---

[![pre-commit.ci status](https://results.pre-commit.ci/badge/github/gherynos/gherynos/main.svg)](https://results.pre-commit.ci/latest/github/gherynos/gherynos/main)
